# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Credentials
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Airflow & dbt logs
logs/

# dbt artifacts (generated at runtime)
dbt/target/
dbt/logs/
dbt/dbt_packages/